<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Newsletter</title>
</head>
<body style="font-family:Arial, Helvetica, sans-serif; font-size:10.0pt; color:#000; background-color:#fff;">
<table border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%;">
    <tbody>
    <tr>
        <td>
            <div align="left">
                <table border="0" cellspacing="0" cellpadding="0"
                       style="background:white; border:2px #e2e2e2 solid; width:650px">
                    <tbody>
                    <tr>
                        <td><!---->

                            <table border="0" cellspacing="0" cellpadding="0" width="100%" style="background:white">
                                <tbody>
                                <tr>
                                    <td><!--banner-->
                                        <div align="center">
                                            <table border="0" cellspacing="0" cellpadding="0" style="width:100%">
                                                <tr>
                                                    <td><img
                                                            src="https://i1380.photobucket.com/albums/ah198/AlexDoan/Visit%20Korea%20News%20Daily_zpst2bwjyoh.png">
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <!--end-banner-->
                                        <!--content-->
                                        <div align="center">
                                            <table border="0" cellspacing="0" cellpadding="0" width="90%">
                                                <tr>
                                                    <td style="padding:30px 0 10px 0">
                                                        <p style="text-align: left; line-height:18px; padding:0; margin:0; font-family:Arial, Helvetica, sans-serif; color:#555;font-size:10.0pt;">
                                                            Kính chào quý khách,
                                                            Dưới đây là thông tin mới nhất của ngày hôm nay.
                                                        </p>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td style="padding:10px 0; border-bottom: 1px #e1e1e1 solid;">
                                                        <div align="center">
                                                            <table border="0" cellspacing="0" cellpadding="0"
                                                                   width="90%">
                                                                {% for item in all_news %}
                                                                <tr>
                                                                    <td colspan="2" style="padding:3px 0">
                                                                        <p style="text-align: left; line-height:18px; padding:0; margin:0; font-family:Arial, Helvetica, sans-serif; color:#c41d16;font-size:12.0pt;">
                                                                            <strong>{{item.subject}}</strong>
                                                                        </p>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2" style="padding:3px 0">
                                                                        <p style="text-align: left; line-height:18px; padding:0; margin:0; font-family:Arial, Helvetica, sans-serif; color:#555;font-size:10.0pt;">
                                                                            {{item.content}}
                                                                        </p>
                                                                    </td>
                                                                </tr>
                                                                {% endfor %}
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <!--end-content-->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
